/* 
* Màu chủ đạo của theme
*/
:root {
    --main-color: #007dd1;
    --MAIN-COLOR: #007dd1;
    --main-color-hover: #0274c1;
    --MAIN-COLOR-HOVER: #0274c1;
}
.header-toolbar .support{
	display: none;
}